.testimonials-section{
    padding: 8% 10%;
    background: linear-gradient(rgba(175, 126, 126, 0.3),rgba(175, 126, 126, 0.3)),url("../../../static/banner/bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h1{
        font-size: 3.5vw;
        text-align: center;
        font-weight: 500;
        color: #FBE12D !important;
        text-shadow: 2px 2px 10px #fa1111;
    }
}

.slider{
    
    padding: 3%;
    text-align: center;

    blockquote{
        color: #e2e2e2 !important;
    }

    span{
        color: #7a87ff;
    }
}


@media screen and (max-width : 540px) {
    .testimonials-section{
        h1{
            font-size: 25px;
        }

        .slider{
            font-size: 12px;
        }
    }
}


// Testimonial page


.grid-two-columns{
    column-gap: 10%;
    row-gap: 2%;
    padding-bottom: 120px;

    .reviews-img{

        img{
            width: 350px;
            display: block;
            margin: 0 auto;
        }
    }

    .reviews-content{
        
        padding: 20px;
        

        blockquote {
            border:none;
            font-family:Georgia, "Times New Roman", Times, serif;
            // font-family: 'Quicksand', sans-serif;
            // margin-bottom:-30px;
            quotes: "\201C""\201D""\2018""\2019";
            text-align: justify;

            h3{
                color: #EF2B3F;
                font-weight: bold;
                font-size: 24px;
                line-height: 0.8;
                text-align: center;
            }

            span{
                color: #a7a7a7;
                font-size: 18px;
                font-family: 'Quicksand', sans-serif;
                font-style: italic;
                margin-top: 0;
                padding-left: 50px;
            }
            

             h3::before{
                content: open-quote;
                font-weight: bold;
                font-size:100px;
            }

            &::after{
                content: close-quote;
                font-weight: bold;
                color: #EF2B3F;
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width : 990px) {
    .reviews-img{
        display: none;
    }

    .grid-two-columns{
        row-gap: 1%;
    }
}

